<div>
    <ul class="nav nav-tabs">
        <li ng-click="tabPropertiesClicked()" class="active"><a data-target="#properties" data-toggle="tab">Properties</a></li>
        <li ng-click="tabThingClicked()"><a data-target="#thing" data-toggle="tab">Thing</a></li>
        <li ng-click="tabSensorClicked()"><a data-target="#sensor" data-toggle="tab">Sensor</a></li>
        <li ng-click="tabObservationsClicked()"><a data-target="#observations" data-toggle="tab">Observations</a></li>
        <li ng-click="tabObservedPropertyClicked()"><a data-target="#observedproperty" data-toggle="tab">ObservedProperty</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="properties">
            <div class="entityInfo">
                <span class="entityInfoHeader">Id</span> <br />
                <pre class="entityInfoInfo">{{id}}</pre>
                <span class="entityInfoHeader">Description</span><br />
                <pre class="entityInfoInfo">{{description}}</pre>
                <span class="entityInfoHeader">Unit Of Measurement</span> <br />
                <pre class="entityInfoInfo">{{unitOfMeasurement | json:4}}</pre>
                <span class="entityInfoHeader">Observed Area</span> <br />
                <pre class="entityInfoInfo">{{observedArea | json:4}}</pre>
            </div>
        </div>

        <div class="tab-pane" id="thing">
            <div class="entityInfo">
                <span class="entityInfoHeader">Id</span> <br />
                <pre class="entityInfoInfo">{{thingId}}</pre>
                <span class="entityInfoHeader">Description</span><br />
                <pre class="entityInfoInfo">{{thingDescription}}</pre>
                <span class="entityInfoHeader">Properties</span> <br />
                <pre class="entityInfoInfo">{{thingProperties | json:4}}</pre>
            </div>
        </div>

        <div class="tab-pane" id="sensor">
            <div class="entityInfo">
                <span class="entityInfoHeader">Id</span> <br />
                <pre class="entityInfoInfo">{{sensorId}}</pre>
                <span class="entityInfoHeader">Description</span><br />
                <pre class="entityInfoInfo">{{sensorDescription}}</pre>
                <span class="entityInfoHeader">Encoding</span> <br />
                <pre class="entityInfoInfo">{{sensorEncoding}}</pre>
                <span class="entityInfoHeader">Metadata</span> <br />
                <pre class="entityInfoInfo">{{sensorMetadata}}</pre>
            </div>
        </div>

        <div class="tab-pane" id="observations">
            <div id="observationChartWrapper" class="panel panel-default" >
                <div class="panel-heading">RESULTS</div>
                <div class="panel-body">
                    <canvas id="observationChart" ></canvas>
                </div>
            </div>
            <table class="table table-bordered table-hover st-table">
                <thead class="st-thead">
                <tr>
                    <th>ID</th>
                    <th>Phenomenon Time</th>
                    <th>Result</th>
                    <th>Result Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in observationsList">
                    <td>{{x["@iot.id"]}}</td>
                    <td>{{x["phenomenonTime"] | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{x["result"]}}</td>
                    <td>{{x["resultTime"] | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="observedproperty">
            <div class="entityInfo">
                <span class="entityInfoHeader">Id</span> <br />
                <pre class="entityInfoInfo">{{observedPropertyId}}</pre>
                <span class="entityInfoHeader">Name</span><br />
                <pre class="entityInfoInfo">{{observedPropertyName}}</pre>
                <span class="entityInfoHeader">Description</span><br />
                <pre class="entityInfoInfo">{{observedPropertyDescription}}</pre>
                <span class="entityInfoHeader">Definition</span> <br />
                <pre class="entityInfoInfo">{{observedPropertyDefinition}}</pre>
            </div>
        </div>
    </div>
</div>