<div>
    <table class="table table-bordered table-hover st-table">
        <thead class="st-thead">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Unit of Measurement</th>
            <th>Observed Area</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in datastreamsList" >
            <td ng-click="datastreamClicked(x['@iot.id'])">{{x["@iot.id"]}}</td>
            <td ng-click="datastreamClicked(x['@iot.id'])">{{x["description"]}}</td>
            <td ng-click="datastreamClicked(x['@iot.id'])">{{x["unitOfMeasurement"]}}</td>
            <td ng-click="datastreamClicked(x['@iot.id'])">{{x["observedArea"]}}</td>
            <td><div class="fa fa-remove delete-entity" ng-click="deleteDatastreamClicked(x)"></div></td>
        </tr>
        </tbody>
    </table>
</div>