<div>
    <table class="table table-bordered table-hover st-table">
        <thead class="st-thead">
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in historicallocationsList">
            <td>{{x["@iot.id"]}}</td>
            <td>{{x["time"]}}</td>
            <td><div class="fa fa-remove delete-entity" ng-click="deleteHistoricalLocationClicked(x)"></div></td>
        </tr>
        </tbody>
    </table>
</div>