<div class="col-md-12 main">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary" >
                <div class="panel-heading">Datastream 1</div>
                <div class="panel-body">
                    subscribed chart data here...
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" >
                <div class="panel-heading">Datastream 2</div>
                <div class="panel-body">
                    subscribed chart data here...
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <div id="avgSpeedChart" class="small-box-heading">1006.8mb</div>
                    <div class="small-box-footer">
                        PRESSURE
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-red">
                <div class="inner">
                    <div id="stoppedCount" class="small-box-heading">950PPM</div>
                    <div class="small-box-footer">
                        CO2
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-green">
                <div class="inner">
                    <div id="movingCount" class="small-box-heading">20ºC</div>
                    <div class="small-box-footer">
                        INDOOR
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>