<div>
    <table class="table table-bordered table-hover st-table">
        <thead class="st-thead">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Encoding</th>
            <th>Location</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in locationsList">
            <td>{{x["@iot.id"]}}</td>
            <td>{{x["description"]}}</td>
            <td>{{x["encodingtype"]}}</td>
            <td>{{x["location"]}}</td>
            <td><div class="fa fa-remove delete-entity" ng-click="deleteLocationClicked(x)"></div></td>
        </tr>
        </tbody>
    </table>
    <div id="map" class="map" height="400px" width="400px"></div>
</div>