<div>
    <table class="table table-bordered table-hover st-table">
        <thead class="st-thead">
        <tr>
            <th>ID</th>
            <th>Phenomenon Time</th>
            <th>Result</th>
            <th>Result Time</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in observationsList">
            <td>{{x["@iot.id"]}}</td>
            <td>{{x["phenomenonTime"]}}</td>
            <td>{{x["result"]}}</td>
            <td>{{x["resultTime"]}}</td>
            <td><div class="fa fa-remove delete-entity" ng-click="deleteObservationClicked(x)"></div></td>
        </tr>
        </tbody>
    </table>
</div>