<div>
    <table class="table table-bordered table-hover st-table">
        <thead class="st-thead">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Name</th>
            <th>Definition</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in observedpropertiesList">
            <td>{{x["@iot.id"]}}</td>
            <td>{{x["description"]}}</td>
            <td>{{x["name"]}}</td>
            <td>{{x["definition"]}}</td>
            <td><div class="fa fa-remove delete-entity" ng-click="deleteObservedPropertyClicked(x)"></div></td>
        </tr>
        </tbody>
    </table>
</div>